html {
    margin: 0;
    padding: 1% 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: burlywood;
    height: 100%;
}

body {
    padding: 0 1%;
    border: 6px solid white;
    background-color: bisque;
    min-height: 100%;
    overflow: auto;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.container {
    width: 75%;
}