{% extends "main.html" %}

{% block title %}
О нас
{% endblock %}

{% block body %}
<div class="container">
    <h1>О нас</h1>
    <p>Библиотека № XYZ</p>
    <p>Проект выполнил студент группы А-13-21 Кирсанов В.Р. для дисциплины "Компьютерные сети".</p>
    <p>Источники информации: <a href="https://www.culture.ru/">culture.ru</a></p>
    <p>Источник иконки: <a href="https://www.flaticon.com/ru/free-icon/book_207114?term=%D0%BA%D0%BD%D0%B8%D0%B3%D0%B0&page=1&position=5&origin=tag&related_id=207114" title="книга иконки">Книга иконки от Freepik - Flaticon</a></p>
</div>
{% endblock %}