<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link href="{{url_for('static', filename='css/style.css')}}" rel="stylesheet">
        {% block extracss %}
        {% endblock %}
    </head>
    <body>
        <div class="navbar">
            <a href="/library">Домашняя страница</a>
            <a href="/library/search">Поиск книг</a>
            <a href="/about">О нас</a>
        </div>
        {% block body %}
        {% endblock %}
    </body>
</html>